@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
.navbar_container{
    background-color: #46237A;
    padding: 1px 0;
    border-radius: 3px;
    box-shadow: 0 0 8px #3DDC97;

}
/* .navbar_container img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    
} */

h1 {
    color:#FCFCFC;  
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 50px;
    font-weight: 600;
    
}
@media (max-width:700px) { 

    h1 {
        color: pink;
        font-size: 24px;
    }
}
